<!DOCTYPE html>
<html lang="en">

<head th:include="usuario/template_home::head">
</head>

<body>

	<div th:include="usuario/template_home::header">
	</div>

	<div>
		<!-- ======= Hero Section ======= -->
		<section id="hero" class="hero d-flex align-items-center">

			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex flex-column justify-content-center">
						<h1 data-aos="fade-up">We offer modern solutions for growing your business</h1>
						<h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites
							with
							Bootstrap</h2>
						<div data-aos="fade-up" data-aos-delay="600">
							<div class="text-center text-lg-start">
								<a href="#about"
									class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
									<span>Get Started</span>
									<i class="bi bi-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 hero-img" style="text-align: start;" data-aos="zoom-out" data-aos-delay="200">
						<h3>Login</h3>
						<form action="" method="post">
							<div class="mb-3 mt-3">
								<label for="email" class="form-label">Email:</label>
								<input type="email" class="form-control" id="email" placeholder="Enter email"
									name="email">
							</div>
							<div class="mb-3">
								<label for="pwd" class="form-label">Password:</label>
								<input type="password" class="form-control" id="pwd" placeholder="Enter password"
									name="pswd">
							</div>
							<div class="form-check mb-3">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox" name="remember"> Remember me
								</label>
							</div>
							<a th:href="@{eduplus}" class="btn btn-primary">Send</a>

						</form>
					</div>


				</div>
			</div>

		</section><!-- End Hero -->
	</div>

	<div th:include="usuario/template_home::footer">
	</div>

	<div th:include="usuario/template_home::scripts"></div>
</body>

</html>