<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<head th:insert="~{administrador/templateAdministrador.html::head}"></head>

<body>
<div id="wrapper">
    <div th:insert="~{administrador/templateAdministrador.html::topbar}"></div>
    <div th:insert="~{administrador/templateAdministrador.html::sidebar}"></div>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">eduplus</h4>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">

                    <div class="col-xl-3 col-sm-6">
                        <div class="card-box widget-box-two widget-two-custom">
                            <i class="mdi mdi-school widget-two-icon"></i>
                            <div class="wigdet-two-content p-3">
                                <p class="m-0 text-uppercase font-bold font-secondary text-overflow" title="Statistics">
                                    ESTUDIANTES</p>
                                <h2 class="font-600"><span><i class="mdi mdi-arrow-up"></i></span> <span
                                        data-plugin="counterup">65841</span></h2>

                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card-box widget-box-two widget-two-custom">
                            <i class="mdi mdi-account-multiple widget-two-icon"></i>
                            <div class="wigdet-two-content p-3">
                                <p class="m-0 text-uppercase font-bold font-secondary text-overflow" title="Statistics">
                                    DOCENTES</p>
                                <h2 class="font-600"><span><i class="mdi mdi-arrow-up"></i></span> <span
                                        data-plugin="counterup">236521</span></h2>

                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card-box widget-box-two widget-two-custom">
                            <i class=" mdi mdi-account-convert widget-two-icon"></i>
                            <div class="wigdet-two-content p-3">
                                <p class="m-0 text-uppercase font-bold font-secondary text-overflow" title="Statistics">
                                    ACUDIENTES</p>
                                <h2 class="font-600"><span><i class="mdi mdi-arrow-up"></i></span> <span
                                        data-plugin="counterup">563698</span></h2>

                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-sm-6">
                        <div class="card-box widget-box-two widget-two-custom">
                            <i class=" mdi mdi-vector-arrange-below widget-two-icon"></i>
                            <div class="wigdet-two-content p-3">
                                <p class="m-0 text-uppercase font-bold font-secondary text-overflow" title="Statistics">
                                    CURSOS</p>
                                <h2 class="font-600"><span><i class="mdi mdi-arrow-up"></i></span> <span
                                        data-plugin="counterup">2.07</span></h2>

                            </div>
                        </div>
                    </div><!-- end col -->

                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->


    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    <div th:insert="~{administrador/templateAdministrador.html::footer}"></div>

</div>
<div th:insert="~{administrador/templateAdministrador.html::script}"></div>


</body>
</html>